Package: com.cabralcole.forceinpicture
Name: ForceInPicture
Depends: mobilesubstrate, firmware (>= 9.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: "Programmatically" enable picture in picture feature.
Maintainer: cole cabral
Author: cole cabral
Section: Tweaks